/*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-668 {
        /* centers button */
        text-align: center;
        /* 120px - 300px top */
        /* 60px - 150px  bottom */
        padding: clamp(12.5rem, 23.82vw, 18.75rem) calc(16 / 16 * 1rem)
            clamp(3.75rem, 14.82vw, 9.375rem);
        position: relative;
        z-index: 1;

        &:before {
            /* red background box */
            content: "";
            width: 100%;
            height: 85%;
            background: var(--primary);
            opacity: 1;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto auto 3.125rem auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
        }

        .cs-content {
            text-align: center;
            max-width: calc(630 / 16 * 1rem);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            /* 16 characters wide including spaces */
            max-width: 16ch;
            margin: 0 0 calc(16 / 16 * 1rem) 0;
            color: var(--bodyTextColorWhite);
            position: relative;
        }

        .cs-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.5vw, 1.25rem);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            max-width: calc(522 / 16 * 1rem);
            margin: 0 0 calc(32 / 16 * 1rem) 0;
            color: #111418;
            opacity: 0.8;
        }

        .cs-button-group {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: calc(12 / 16 * 1rem);
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: auto;
            color: #1a1a1a;
            min-width: calc(150 / 16 * 1rem);
            margin: 0;
            padding: 0 calc(24 / 16 * 1rem);
            background-color: #fff;
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: var(--headerColor);
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-button-transparent {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: auto;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            margin: 0;
            padding: 0 calc(24 / 16 * 1rem);
            background-color: transparent;
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: var(--headerColor);
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-stats-group {
            width: 100%;
            max-width: calc(522 / 16 * 1rem);
            margin: 0;
            /* 48px - 64px */
            margin-top: clamp(3rem, 6vw, 4rem);
            /* 48px - 64px, removed at desktop */
            margin-bottom: clamp(3rem, 6vw, 4rem);
            padding: 0;
            display: flex;
            /* changes at desktop */
            justify-content: space-evenly;
            align-items: center;
        }

        .cs-item {
            list-style: none;
            /* 100px - 150px */
            width: clamp(6.25rem, 16vw, 9.375rem);
            height: auto;
            border-radius: 50%;
            border: 1px solid #fff;
            /* makes it square - when width divided by height equals 1 - creates a square */
            aspect-ratio: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .cs-desc {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 2.1vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            color: #cdcdcd;
            display: block;
        }

        .cs-number {
            /* 31px - 49px */
            font-size: clamp(1.9375rem, 3.8vw, 3.0625rem);
            line-height: 1.2em;
            font-weight: 900;
            color: var(--bodyTextColorWhite);
            display: block;
        }

        .cs-picture {
            width: 100%;
            max-width: calc(616 / 16 * 1rem);
            /* Changes at desktop */
            height: calc(400 / 16 * 1rem);
            overflow: hidden;
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes image act as a background image */
                object-fit: cover;
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #hero-668 {
        /* clips the red box from overflowing the section */
        overflow: hidden;

        &:before {
            /* removed from section container and added to cs-container for easier horizontal positioning */
            display: none;
        }

        .cs-container {
            flex-direction: row;
            justify-content: space-between;
            column-gap: calc(100 / 16 * 1rem);

            &:before {
                /* red background box */
                content: "";
                width: 100vw;
                height: 300%;
                background: var(--primary);
                opacity: 1;
                position: absolute;
                display: block;
                top: 50%;
                /* 200px - 305px, positioning it off the right edge of the container which has a fixed width */
                right: clamp(12.5rem, 20vw, 19.0625rem);
                z-index: -1;
                transform: translateY(-50%);
            }
        }

        .cs-content {
            text-align: left;
            width: 53%;
            /* prevents flex-box from squishing it */
            flex: none;
            align-items: flex-start;
        }

        .cs-stats-group {
            margin-bottom: 0;
            justify-content: space-between;
        }

        .cs-picture {
            width: 50vw;
            max-width: 100%;
            /* 714px - 800px */
            height: clamp(44.625rem, 60vw, 50rem);
            /* push 100px left of that center line from the left property. this ensures it always stays exactly 100px right of the center line and won't move */
            margin-left: calc(100 / 16 * 1rem);
            position: absolute;
            bottom: 0;
            /* send the left edge of the element to line up at the center of the screen */
            left: 50%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #hero-668 {
            &:before {
                filter: brightness(50%);
            }

            .cs-container {
                &:before {
                    filter: brightness(50%);
                }
            }
        }
    }
}

                                

/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #h-services-81 {
        /* 40px - 100px */
        padding: 0 calc(16 / 16 * 1rem) clamp(2.5rem, 7.9vw, 6.25rem)
            calc(16 / 16 * 1rem);
        position: relative;
        /* give a higher z index than the hero so it can sit on top */
        z-index: 10;

        .cs-card-group {
            width: 100%;
            max-width: calc(465 / 16 * 1rem);
            margin: 0 auto 0;
            /* negative margin pulls it up on top of the hero section */
            /* -46px to -76px - we're calculating whatever clamp is and multiplying by -1
            to make the value negative since clamp doesn't work with negative values */
            margin-top: calc(clamp(5rem, 13vw, 4.75rem) * -1);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            /* 40px - 60px top and bottom, 16px - 60px left & right */
            padding: clamp(2.5rem, 4.7vw, 3.75rem) clamp(1rem, 4vw, 3.75rem);
            background-color: #fff;
            box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.05);
            border-top: 8px solid var(--primary);
            border-radius: calc(5 / 16 * 1rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: calc(360 / 16 * 1rem);
            margin: 0 auto calc(40 / 16 * 1rem);

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .cs-icon {
            /* 68px - 88px */
            width: clamp(4.25rem, 8.8vw, 5.5rem);
            /* 68px - 88px */
            height: clamp(4.25rem, 8.8vw, 5.5rem);
            margin: auto;
            /* 20px - 24px */
            margin-bottom: clamp(1.25rem, 5vw, 1.5rem);
            background: var(--primary);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                /* 44px - 52px */
                width: clamp(2.75rem, 5.8vw, 3.25rem);
                height: auto;
            }
        }

        .cs-title {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            text-align: center;
            text-transform: uppercase;
            margin: 0 auto calc(8 / 16 * 1rem);
            color: var(--headerColor);
        }

        .cs-text {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            text-align: center;
            max-width: calc(360 / 16 * 1rem);
            margin: 0 auto;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #h-services-81 {
        .cs-card-group {
            max-width: calc(1280 / 16 * 1rem);
            /* -76px to -320px - we're calculating whatever clamp is and multiplying by -1
               to make the value negative since clamp doesn't work with negative values */
            margin-top: calc(clamp(4.75rem, 20vw, 20rem) * -1);
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: calc(40 / 16 * 1rem);
        }

        .cs-item {
            /* Reset margin so it doesn't interfere with flexbox */
            margin: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #h-services-81 {
            .cs-card-group {
                background: var(--medium);
            }

            .cs-icon {
                background: var(--darkTint);
            }

            .cs-title {
                color: #fff;
            }

            .cs-text {
                color: #fff;
            }
        }
    }
}
                                